
* {
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  div{
      display:block;
  }
  
  .signin-wrapper h1 {
      text-align : center;
  }


  .login-wrapper {
    width: 300px;
    margin: 20px auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
    
  }

  .submit button {
    border-radius:100px;
    box-shadow: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height:20px;
    padding:6px 16px;
    white-space: nowrap;
    background-color: #1da1f2;
    border:1px solid #1da1f2;
    color: #fff;
    cursor: pointer;
    opacity: 0.85;
  }













/* .topbar{
    display:block;
    background-color: #fff;
    height:46px;
}

.global-container {
    width: auto;
    height: 100%;
    max-width:865px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    display: block;
}

@media screen and(max-width: 1190px)
 .global-container {
    min-width: 590px;
} */